* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #E0E0E0;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 50%;
  min-width: 500px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-around;
}

.header h1 {
  margin: auto;
  font-family: 'Rock Salt', cursive;
  color: #080808;
  text-shadow: 0px 0px 15px #CC45C9;
  letter-spacing: -2px;
  font-size: 3rem;
}

.canvas {
  margin: 2rem;
  width: 500px;
  aspect-ratio: 1 / 1;
  padding: 5%;
  background-color: #212121;
  border: #313131 1px solid;
  border-radius: 15px;
}